/*--
    slider Start
--*/
#slider {
  padding: 50px 0px;

}
#slider .block {
  padding: 0px 40px;
}
#slider .block .title {
  padding: 0px ;
  text-align: center;
}
#slider .block .owl-carousel {
  padding-top: 30px;
  position: relative;
  text-align: center;
}
#slider .block .owl-carousel img {
  padding-right: 10px;
  border-radius: 2px;
  padding-bottom: 10px;
}
#slider .block .owl-carousel .owl-pagination .active {
  background: #FF5333;
}
#slider .block .owl-carousel .owl-pagination div {
  background: #DADADA;
  border-radius: 100%;
  display: table;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
#slider .block .owl-carousel .owl-buttons {
  position: relative;
  right: 0;
  top: -40px;
  font-size: 40px;
  color: #AA9D84;
}

/*--
    about-us Start
--*/
#about-us {
  padding: 100px 0px;
  background: pink;
}
#about-us .block {
  text-align: center;
}
#about-us .block p {
  color: #959595;
  font-size: 25px;
  line-height: 26px;
  padding: 40px 0px;
}
/*--
  price Start
--*/
#price {
padding: 70px 0px;
}
#price .block > p {
color: Black;
font-size: 16px;
line-height: 26px;
padding: 40px 133px 0;
text-align: center;
}
#price .block .pricing-list {
padding-top: 85px;
}
#price .block .pricing-list ul {
padding: 0 0 30px;
margin: 0;
}
#price .block .pricing-list ul li {
padding: 21px 0px;
}
#price .block .pricing-list ul li .item .item-title {
position: relative;
}
#price .block .pricing-list ul li .item .item-title h2 {
display: inline-block;
position: relative;
z-index: 99;
background: none;
}
#price .block .pricing-list ul li .item .item-title .border-bottom {
position: absolute;
top: 0;
width: 100%;
height: 1px;
border: 1px dotted black;
margin-top: 20px;
color: white;
}
#price .block .pricing-list ul li .item .item-title span {
float: right;
color: black;
}
#price .block .pricing-list ul li .item p {
padding: 12px 0 0px;
color: #949494;
}
#price .block .pricing-list .btn {
padding: 28px 105px;
border-radius: 0px;
background: none;
color: white;
border: 1px solid purple;
font-size: 15px;
text-transform: uppercase;
font-weight: 600;
-webkit-transition: .3s all;
-o-transition: .3s all;
transition: .3s all;
}
#price .block .pricing-list .btn:hover {
background: pink;
color: pink;
}

/*--
    contact-us Start
--*/


#contact-us form {
 width: 720px;
 padding: 10px;
 border: 2px solid;
 background-color: pink;
 align-content: center;
 font-style: normal;
 font-weight: normal;
 speak: none;
 display: inline-block;
 text-decoration: inherit;
 margin-right: .2em;
 display: table;
 font-variant: normal;
 text-transform: none

}

#contact-us form input {
  border: 2px solid;
  width: 700px;
  height: 45px;
  padding: 10 15 15 10;
}

#contact-us form select option {
  width: 650px;
  padding: 10 10 10 10;
  text-decoration: inherit;
  ;
}

#contact-us button {
  background-color: purple;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
