/*--
    contact-us Start
--*/


#contact-us form {
 width: 720px;
 padding: 10px;
 border: 2px solid;
 background-color: pink;
 align-content: center;
 text-decoration: inherit;
 margin-right: .2em;
 display: table;
 /* FIXME:  */

}

#contact-us form input {
  border: 2px solid;
  width: 715px;
  height: 45px;
  padding: 10 15 15 10;
}

#contact-us form select option {
  width: 100px;
  padding: 10 10 10 10;
  text-decoration: inherit;
  ;
}

#contact-us button {
  background-color: purple;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;

}

/*--
  footer-bottom Start
--*/
#footer-bottom {
background: pink;
padding: 10px 10px;
}
#footer-bottom p {
text-align: center;
padding-top: 12px;
color: #454545;
font-size: 10px;
font-weight: 600;
letter-spacing: 3px;
}
#footer-bottom p a {
color: purple;
}
